{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

<div class="dialogContainerDetailFlash">
    {% include "flash/_flashDialogDetailFlash.html.twig" with { likedFlashsId: likedFlashsId, maxPages: maxPages } %}
</div>
<div class="dialogContainerFilter">
    {% include "flash/_flashDialogFilter.html.twig" %}
</div>

    <div class="allProfil homePageTotal">
        <div class="headProfile">
            <div class="lienAncrage">
                <a href="#coordonnees">Coordonnées / Likes</a>
                <a href="#simulations">Mes simulations</a>
            </div>
            <div class="fondBlur4 fondBlur">
                <div class="fondNoise"></div>
            </div>
        </div>
        <div id="coordonnees" class="connexion profil">
            <div class="bloc2">
                <div class="profileForm">
                    {{ form_start(nicknameForm) }}
                    <div class="editDiv">
                        {{ form_row(nicknameForm.pseudonyme, {"value": app.user.getPseudonyme() }) }}
                        <button class="btn btnEdit disabled">
                            <p class="goldPolice">Editer</p>
                        </button>
                    </div>
                    <div>
                        {{ form_row(nicknameForm.email, {"attr": {"disabled":"disabled", "value": app.user.getEmail() } }) }}
                    </div>
                    {{ form_end(nicknameForm) }}

                    <a href="{{ path("app_delete_profile") }}" class="btn btnSuprCompte">
                        <p class="gradientSupr">Supprimer mon compte</p>
                    </a>
                </div>
            </div>
            <div class="likecontainerContainer">
                <div class="likeContainer">
                    <h3  class="goldPolice">Flashs Likés</h3>
                    

                    {% if maxPages > 1 %}  
                        <div class="btnFiltresContainer" tabindex="7">
                            <div class="btn btnShowFilters">
                                <p class="goldPolice">{{ "flash.btnFiltre" | trans }}</p>
                                <div class="filterIcon">
                                    <div class="filterBarTop">
                                        <div class="rectangle rectangleFilter1"></div>
                                        <div class="carre"></div>
                                    </div>
                                    <div class="filterBarTop">
                                        <div class="rectangle rectangleFilter1"></div>
                                        <div class="carre carre2"></div>
                                    </div>
                                    <div class="filterBarTop">
                                        <div class="rectangle rectangleFilter1"></div>
                                        <div class="carre"></div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    {% else %}
                        <div class="space"></div>
                    {% endif %}
                    


                    <div id="flash-container">
                        {% include "security/_likedFlashContainer.html.twig" with { likedFlashs: likedFlashs, maxPages: maxPages } %}
                    </div>


                </div>
            </div>
        </div> 
    </div>
    <div class="sousProfil" id="simulations">
        <div class="titreSimulationContainer">
            <h3 class="titre goldPolice">Mes Simulations</h3>
        </div>
        <div class="simulationContainer">
            {% for simulation in simulations %}
                <div class="cardSimulation">
                    <h4 class="goldPolice titleCard">{{ simulation.getName }}</h4>
                    <div class="infos">
                        <div class="texte">
                            <p class="goldPolice prixFinalSimuCard">{{ simulation.getFinalPrice }} €</p>
                            <p class="white">Taille ~ {{ simulation.size.getSize }} cm</p>
                            <p class="white">Couleur ~ {{ simulation.color.getTypeColor }}</p>
                            <p class="white">Détail ~ {{ simulation.detail.getDetailName }}</p>
                            <p class="white">Zone ~ {{ simulation.area.getNameArea }}</p>
                        </div>
                        <div class="image">
                            {% if simulation.image is not null %}
                            <tilt-card class="divDetImage">
                                <img src="{{ asset("img/simuImages/" ~ simulation.getImage ) }}" alt="Image de {{ simulation.getName }}" loading="lazy">
                            </tilt-card>
                            {% endif %}
                        </div>
    
                    </div>
    
                    <a class="btnSuprSimu" href=""><button class="btn"><p class="gradientSupr">Supprimer</p></button></a>
                </div>
            {% endfor %}
        </div>
    </div>
 
{% endblock %}

{% block footer %}
    {% include "_footer.html.twig" %}
{% endblock %}
