{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

<div class="dialogContainerDetailFlash">
    {% include "flash/_flashDialogDetailFlash.html.twig" %}
</div>

    <div class="allProfil">
        <div class="fondConnexion"></div>
        <div class="fondNoise"></div>
        <div class="headProfile">
            <div class="titreLogo">
                <a  href="{{ path("app_accueil") }}"><img class="logo logoProfil" src="{{ asset("img/logo-HBI.webp")}}" alt="Logo de l'entreprise Human Be Ink"></a>
                <h1 class="goldPolice">Human Be Ink</h1>
            </div>
            <h2 class="goldPolice">Mon Profil</h2>
            <div class="lienAncrage">
                <a href="#likes">Coordonnées</a>
                <a href="#likes">Mes likes</a>
                <a href="#">Mes simulations</a>
            </div>
        </div>
        <div class="connexion profil">
            <div class="bloc2" id="coordonnees">
                <div class="profileForm">
                    {{ form_start(nicknameForm) }}
                    <div class="editDiv">
                        {{ form_row(nicknameForm.pseudonyme, {"value": app.user.getPseudonyme() }) }}
                        <button class="btn btnEdit disabled">
                            <p class="goldPolice">Editer</p>
                        </button>
                    </div>
                    <div>
                        {{ form_row(nicknameForm.email, {"attr": {"disabled":"disabled", "value": app.user.getEmail() } }) }}
                    </div>
                    {{ form_end(nicknameForm) }}

                    <a href="{{ path("app_delete_profile") }}" class="btn btnSuprCompte">
                        <p class="gradientSupr">Supprimer mon compte</p>
                    </a>
                </div>
            </div>
            <div class="likecontainerContainer">
                <div class="likeContainer" id="likes">
                    <h3  class="goldPolice">Flashs Likés</h3>
                    <div class="likedFlash">            
                        {% for flash in likedFlashs %}
                            <img class="pointer flash" index="{{ flash.id }}" src="{{ asset( 'img/flashs/' ~ flash.image) }}" loading="lazy" alt="Tatouage de {{ flash.nom }}">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div class="sousProfil">
        
    </div>

    {% include "_footer.html.twig" %}
    
{% endblock %}