{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

<div class="dialogContainerDetailFlash">
    {% include "flash/_flashDialogDetailFlash.html.twig" %}
</div>
<div class="dialogContainerFilter">
    {% include "flash/_flashDialogFilter.html.twig" %}
</div>

    <div class="allProfil homePageTotal">
        <div class="headProfile">
            <div class="lienAncrage">
                <a href="#coordonnees">Coordonnées</a>
                <a href="#likes">Mes likes</a>
                <a href="#simulations">Mes simulations</a>
            </div>
            <div class="fondBlur4 fondBlur">
                <div class="fondNoise"></div>
            </div>
        </div>
        <div id="coordonnees" class="connexion profil">
            <div class="bloc2">
                <div class="profileForm">
                    {{ form_start(nicknameForm) }}
                    <div class="editDiv">
                        {{ form_row(nicknameForm.pseudonyme, {"value": app.user.getPseudonyme() }) }}
                        <button class="btn btnEdit disabled">
                            <p class="goldPolice">Editer</p>
                        </button>
                    </div>
                    <div>
                        {{ form_row(nicknameForm.email, {"attr": {"disabled":"disabled", "value": app.user.getEmail() } }) }}
                    </div>
                    {{ form_end(nicknameForm) }}

                    <a href="{{ path("app_delete_profile") }}" class="btn btnSuprCompte">
                        <p class="gradientSupr">Supprimer mon compte</p>
                    </a>
                </div>
            </div>
            <div class="likecontainerContainer">
                <div class="likeContainer" id="likes">
                    <h3  class="goldPolice">Flashs Likés</h3>
                    

                    <div class="btnFiltresContainer" tabindex="7">
                        <div class="btn btnShowFilters">
                            <p class="goldPolice">{{ "flash.btnFiltre" | trans }}</p>
                            <div class="filterIcon">
                                <div class="filterBarTop">
                                    <div class="rectangle rectangleFilter1"></div>
                                    <div class="carre"></div>
                                </div>
                                <div class="filterBarTop">
                                    <div class="rectangle rectangleFilter1"></div>
                                    <div class="carre carre2"></div>
                                </div>
                                <div class="filterBarTop">
                                    <div class="rectangle rectangleFilter1"></div>
                                    <div class="carre"></div>
                                </div>
                            </div>
                        </div> 
                    </div>



                    <div id="flash-container">
                        {% include "security/_likedFlashContainer.html.twig" with { likedFlashs: likedFlashs, maxPages: maxPages } %}
                    </div>


                </div>
            </div>
        </div> 
    </div>
    <div class="sousProfil" id="simulations">
        <h3 class="titre goldPolice">Mes Simulations</h3>
    </div>
 
{% endblock %}

{% block footer %}
    {% include "_footer.html.twig" %}
{% endblock %}
