{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <div class="allProfil">
        <div class="fondConnexion"></div>
        <div class="fondNoise"></div>
        <div class="headProfile">
            <div class="titreLogo">
                <a  href="{{ path("app_accueil") }}"><img class="logo logoProfil" src="{{ asset("img/logo-HBI.webp")}}" alt="Logo de l'entreprise Human Be Ink"></a>
                <h1 class="goldPolice">Human Be Ink</h1>
            </div>
            <h2 class="goldPolice">Mon Profil</h2>
        </div>
        <div class="connexion profil">
            <div class="bloc2">
                <div class="profileForm">
                    {{ form_start(nicknameForm) }}
                    <div class="editDiv">
                        {{ form_row(nicknameForm.pseudonyme, {"value": app.user.getPseudonyme() }) }}
                        <button class="btn btnEdit">
                            <p class="goldPolice">Editer</p>
                        </button>
                    </div>
                    <div>
                        {{ form_row(nicknameForm.email, {"attr": {"disabled":"disabled", "value": app.user.getEmail() } }) }}
                    </div>
                    {{ form_end(nicknameForm) }}

                    <button class="btn btnSuprCompte">
                        <p class="gradientSupr">Supprimer mon compte</p>
                    </button>
                </div>
            </div>
            <div class="likeContainer">
                <h3 class="goldPolice">Flashs Likés</h3>
                <div class="likedFlash">            
                    <img class="flash" src="{{ asset("img/flashs/flash4.webp")}}" alt="">
                    <img class="flash" src="{{ asset("img/flashs/flash9.webp")}}" alt="">
                    <img class="flash" src="{{ asset("img/flashs/flash6.webp")}}" alt="">
                    <img class="flash" src="{{ asset("img/flashs/flash10.webp")}}" alt="">
                </div>
            </div>
        </div> 
    </div>
    
{% endblock %}