{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="homePageTotal">
        <div class="homePage homePageAccueil">
            <img class="logo logoHome" src="{{ asset("img/logo-HBI.webp")}}" alt="Logo de l'entreprise Human Be Ink">
            <div class="titreHomeBtns">
                <a href="{{ path("app_flash")}}"><button class="btn btn1"><p class="goldPolice">Flashs</p></button></a>
                <h1 class="titre goldPolice titreHome">Human Be Ink</h1>
                <a href="{{ path("app_simulation")}}"><button class="btn btn2"><p class="goldPolice">Simulation</p></button></a>
            </div>
            <h2 class="sousTitre goldPolice sousTitreHome">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
            <div class="btnHomePage btnHomePageTrue">
                <a href="#galerie"><button class="btn"><p class="goldPolice">{{ "home.btn1" | trans }}</p></button></a>
                <a href="{{ path("app_contact")}}"><button class="btn"><p class="goldPolice">{{ "home.btn2" | trans }}</p></button></a>
            </div>
            <div class="fondBlur4 fondBlur " loading="lazy">
                <div class="fondNoise noiseHome"></div>
            </div>
        </div>
        <a href="#galerie"><div class="scroll-down scrollHome"></div></a>
    </div>
    <div class="progress-container">
        <div id="progress-bar"></div>
    </div>

    <div id="galerie" class="galerie">
        <h2 class="titre goldPolice titreGalerie">Galerie</h2>
        <div class="carousel">
            <div class="group spin">
                <div class="card"><img src="{{ asset("../img/tatoo 1.webp")}}" alt=""></div>
                <div class="card"><img src="{{ asset("../img/tatoo 2.webp")}}" alt=""></div>
                <div class="card"><img src="{{ asset("../img/tatoo 3.webp")}}" alt=""></div>
                <div class="card"><img src="{{ asset("../img/tatoo 4.webp")}}" alt=""></div>
                <div class="card"><img src="{{ asset("../img/tatoo 5.webp")}}" alt=""></div>
                <div class="card"><img src="{{ asset("../img/tatoo 6.webp")}}" alt=""></div>
            </div>
            <div class="group spin">
                <div class="card"><img src="{{ asset("../img/tatoo 1.webp")}}" alt=""></div>
                <div class="card"><img src="{{ asset("../img/tatoo 2.webp")}}" alt=""></div>
                <div class="card"><img src="{{ asset("../img/tatoo 3.webp")}}" alt=""></div>
                <div class="card"><img src="{{ asset("../img/tatoo 4.webp")}}" alt=""></div>
                <div class="card"><img src="{{ asset("../img/tatoo 5.webp")}}" alt=""></div>
                <div class="card"><img src="{{ asset("../img/tatoo 6.webp")}}" alt=""></div>
            </div>
        </div>
    </div>


   




    {% endblock %}

    {% block footer %}
    {% include "_footer.html.twig" %}
    {% endblock %}