{% extends 'base.html.twig' %}

{% block title %}Simulateur de prix{% endblock %}
{% block meta_description %}Page permettant la simulation de prix d'un tatouage réalisé chez Human Be Ink{% endblock %}

{% block body %}

<div class="homePageTotal">
        <div class="homePage2">
            <div class="btnHomePageBlur">
                <h2 class="sousTitre goldPolice">Simulateur de prix</h2>
            </div>
        </div>
        <a href="#simuler"><div class="scroll-down"></div></a>
        <div class="fondBlur fondBlur3">
            <div class="fondNoise"></div>
        </div>
</div>
    <div class="progress-container">
        <div id="progress-bar"></div>
    </div>

    {% if app.user is not null and "ROLE_ADMIN" in app.user.roles %}

        <div class="addColorDialogContainer">
            {% include "simulation/_dialogAddColor.html.twig" %}
        </div>
        <div class="addSizeDialogContainer">
            {% include "simulation/_dialogAddSize.html.twig" %}
        </div>
        <div class="addAreaDialogContainer">
            {% include "simulation/_dialogAddArea.html.twig" %}
        </div>
        <div class="addDetailDialogContainer">
            {% include "simulation/_dialogAddDetail.html.twig" %}
        </div>

    {% endif %}
    <div class="SaveSimuDialogContainer">
        {% include "simulation/_dialogSaveSimu.html.twig" %}
    </div>

    <div class="simuContainer">

    <div id="simuler" class="flashContainerTotal simulationContainerTotal">
        <h2 class="goldPolice titreFlash titreSimu">Simuler une prestation</h2>
        <div class="simuForm flashContainer">
            {{ form_start(formSimu, { 'attr' : { 'class': 'formCalcSimu' } }) }}
            <div class="simuFormSection">
                {% if app.user is not null and "ROLE_ADMIN" in app.user.roles %}
                <div class="editSimuSize editSimu">
                    <div class="rec1"></div>
                    <div class="rec2"></div>
                </div>
                {% endif %}
                <div class="totalSize">
                    <div class="labelInfo">
                        {{ form_label(formSimu.size) }}
                        <p class="changeNumber">75 cm</p>
                    </div>
                    {{ form_errors(formSimu.size) }}
                    {{ form_widget(formSimu.size) }}
                </div>

            </div>
            <div class="simuFormSection">
                {% if app.user is not null and "ROLE_ADMIN" in app.user.roles %}
                    <div class="editSimuColor editSimu">
                        <div class="rec1"></div>
                        <div class="rec2"></div>
                    </div>
                {% endif %}
                {{ form_row(formSimu.color) }}
            </div>
            <div class="simuFormSection">
                {% if app.user is not null and "ROLE_ADMIN" in app.user.roles %}
                    <div class="editSimuArea editSimu">
                        <div class="rec1"></div>
                        <div class="rec2"></div>
                    </div>
                {% endif %}
                {{ form_row(formSimu.area) }}
            </div>
            <div class="simuFormSection">
                {% if app.user is not null and "ROLE_ADMIN" in app.user.roles %}
                    <div class="editSimuDetail editSimu">
                        <div class="rec1"></div>
                        <div class="rec2"></div>
                    </div>
                {% endif %}
                {{ form_row(formSimu.detail) }}
            </div>

                <div class="divBtnCalculerSimu">
                    <button type="submit" class="btn btnCalcSimu" onclick="window.location='#save-simulation'"><p class="goldPolice">Calculer</p></button>
                </div>
            {{ form_end(formSimu) }}
        </div>

        <div id="save-simulation" class="resultContainer hidden">

            {# Conteneur permettant d'afficher le résultat final #}
            <div class="showFinalPrice">
            </div>

            {# Bouton d'enregistrement seulement disponible pour un utilisateur authentifié #}
            {% if app.user is not null %}
                <div class="btnSaveSimu">
                    <div class="divBtnCalculerSimu">
                        <button type="submit" class="btn saveSimu"><p class="goldPolice">Enregistrer</p></button>
                    </div>
                </div>
            {% endif %}
        
        </div>
    </div>
</div>


{% endblock %}
{% block footer %}
    {% include "_footer.html.twig" %}
{% endblock %}

