{% extends 'base.html.twig' %}

{% block title %}Simulateur de prix{% endblock %}

{% block body %}

<div class="homePageTotal homePageContact">
        <div class="fondHomePage">
        </div>
        <div class="fondHomeCalque fondNoise">
        </div>
        <div class="homePage">
            <a  href="{{ path("app_accueil") }}"><img class="logo" src="{{ asset("img/logo-HBI.webp")}}" loading="lazy" alt="Logo de l'entreprise Human Be Ink"></a>
            <h1 class="titre goldPolice">Human Be Ink</h1>
            <h2 class="sousTitre goldPolice">Simulateur de prix</h2>
        </div>
        <div class="scroll-down"></div>
    </div>
    <div class="progress-container">
        <div id="progress-bar"></div>
    </div>

    {% if app.user is not null and "ROLE_ADMIN" in app.user.roles %}

        <div class="addColorDialogContainer">
            {% include "simulation/_dialogAddColor.html.twig" %}
        </div>
        <div class="addSizeDialogContainer">
            {% include "simulation/_dialogAddSize.html.twig" %}
        </div>
        <div class="addAreaDialogContainer">
            {% include "simulation/_dialogAddArea.html.twig" %}
        </div>
        <div class="addDetailDialogContainer">
            {% include "simulation/_dialogAddDetail.html.twig" %}
        </div>

    {% endif %}

    <div class="simuContainer">

    <div class="flashContainerTotal">
        <h2 class="goldPolice titreFlash titreSimu">Simuler une prestation</h2>
        <div class="simuForm flashContainer">
            {{ form_start(formSimu, { 'attr' : { 'class': 'formCalcSimu' } }) }}
            <div class="simuFormSection">
                {% if app.user is not null and "ROLE_ADMIN" in app.user.roles %}
                <div class="editSimuSize editSimu">
                    <div class="rec1"></div>
                    <div class="rec2"></div>
                </div>
                {% endif %}
                {{ form_row(formSimu.size) }}
            </div>
            <div class="simuFormSection">
                {% if app.user is not null and "ROLE_ADMIN" in app.user.roles %}
                    <div class="editSimuColor editSimu">
                        <div class="rec1"></div>
                        <div class="rec2"></div>
                    </div>
                {% endif %}
                {{ form_row(formSimu.color) }}
            </div>
            <div class="simuFormSection">
                {% if app.user is not null and "ROLE_ADMIN" in app.user.roles %}
                    <div class="editSimuArea editSimu">
                        <div class="rec1"></div>
                        <div class="rec2"></div>
                    </div>
                {% endif %}
                {{ form_row(formSimu.area) }}
            </div>
            <div class="simuFormSection">
                {% if app.user is not null and "ROLE_ADMIN" in app.user.roles %}
                    <div class="editSimuDetail editSimu">
                        <div class="rec1"></div>
                        <div class="rec2"></div>
                    </div>
                {% endif %}
                {{ form_row(formSimu.detail) }}
            </div>

                <div class="divBtnCalculerSimu">
                    <button type="submit" class="btn btnCalcSimu"><p class="goldPolice">Calculer</p></button>
                </div>
            {{ form_end(formSimu) }}
        </div>

        <div class="simuResult">
            {% include "simulation/_simuResultContainer.html.twig" %}
        </div>
    </div>

    </div>

    {% include "_footer.html.twig" %}
{% endblock %}
