{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <div class="homePageTotal homePageContact">
        <div class="fondHomePage">
        </div>
        <div class="fondHomeCalque fondNoise">
        </div>
        <div class="homePage">
            <a  href="{{ path("app_accueil") }}"><img class="logo" src="{{ asset("img/logo-HBI.webp")}}" loading="lazy" alt="Logo de l'entreprise Human Be Ink"></a>
            <h1 class="titre goldPolice">Human Be Ink</h1>
            <h2 class="sousTitre goldPolice">Formulaire de contact</h2>
        </div>
        <div class="scroll-down"></div>
    </div>
    <div class="progress-container">
        <div id="progress-bar"></div>
    </div>


    <div class="formContactTotal">
        <h2 class="titre goldPolice">Me contacter</h2>

        <div class="formContact">
            {{ form_start(contactType) }}
                <div class="contact1">
                    {{ form_row(contactType.name) }}
                    {{ form_row(contactType.email) }}
                </div>
                {{ form_row(contactType.project) }}
                <div class="contact1">
                    {{ form_row(contactType.area) }}
                    {{ form_row(contactType.size) }}
                </div>
                <div class="divfiles">
                    {{ form_row(contactType.image) }}
                    <img class="previewImage" src="{% if previewImage is not null %}/img/flashs/{{ previewImage }}{% endif %}" loading="lazy" alt="">
                </div>
                <div class="buttonSendForm">
                    <button type="submit" class="btn"><p class="goldPolice">Envoyer</p></button>
                </div>
            {{ form_end(contactType) }}
        </div>
    </div>

    

{% endblock %}
