{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <div class="homePageTotal">
        <div class="homePage2">
            <div class="btnHomePageBlur">
                <h2 class="sousTitre goldPolice">{{ "contact.titre1" | trans }}</h2>
            </div>
        </div>
        <a href="#contact"><div class="scroll-down"></div></a>
        <div class="fondBlur fondBlur4">
            <div class="fondNoise"></div>
        </div>
    </div>
    <div class="progress-container">
        <div id="progress-bar"></div>
    </div>


    <div id="contact" class="formContactTotal">
        <h2 class="titre goldPolice">{{ "contact.titre1" | trans }}</h2>

        <div class="formContact">
            {{ form_start(contactType) }}
                <div class="contact1">
                    {{ form_row(contactType.name) }}
                    {{ form_row(contactType.email) }}
                </div>
                {{ form_row(contactType.project) }}
                <div class="contact1">
                    {{ form_row(contactType.area) }}
                    {{ form_row(contactType.size) }}
                </div>
                <div class="divfiles">
                    {{ form_row(contactType.image) }}
                    <img class="previewImage" src="{% if previewImage is not null %}/img/flashs/{{ previewImage }}{% endif %}" loading="lazy" alt="">
                </div>
                <div class="buttonSendForm">
                    <button type="submit" class="btn"><p class="goldPolice">{{ "contact.submit" | trans }}</p></button>
                </div>
            {{ form_end(contactType) }}
        </div>
    </div>

{% endblock %}
{% block footer %}
    {% include "_footer.html.twig" %}
{% endblock %}

