<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="{% block meta_description %}Tatoueur professionnel à Yzeure{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lunasima:wght@400;700&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Tagesschrift&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=New+Rocker&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="selectLangue">
                <div class="selectLangue2">
                    <div class="croixCloseLangue">
                        <div class="rec1"></div>
                        <div class="rec2"></div>
                    </div>
                    <a href="{{ path("change_language", {"_locale": "fr"}) }}" aria-label="Changer la langue du site en français">
                        <img class="drapeauSelect" src="{{ asset("img/fr-flag2.webp")}}" alt="Drapeau Français">
                        <p>Français</p>
                    </a>
                    <a href="{{ path("change_language", {"_locale": "en"}) }}" aria-label="Changer la langue du site en anglais">
                        <img class="drapeauSelect" src="{{ asset("img/en-flag.webp")}}" alt="Drapeau Anglais">
                        <p>English</p>
                    </a>
                    <a href="{{ path("change_language", {"_locale": "es"}) }}" aria-label="Changer la langue du site en espagnol">
                        <img class="drapeauSelect" src="{{ asset("img/sp-flag.webp")}}" alt="Drapeau Espagnol">
                        <p>Español</p>
                    </a>
                    <a href="{{ path("change_language", {"_locale": "de"}) }}" aria-label="Changer la langue du site en allemand">
                        <img class="drapeauSelect de" src="{{ asset("img/de-flag.webp")}}" alt="Drapeau Allemand">
                        <p>Deutsch</p>
                    </a>
                </div>
            </div>
            <div class="menu-burger">
                <div class="menu-burger2">
                    <ul>
                        <li>
                            <div class="croixCloseBurger">
                                <div class="rec1"></div>
                                <div class="rec2"></div>
                            </div>
                        </li>
                        <li><a href="{{ path("app_accueil")}}">{{ "base.accueil" | trans }}</a></li>
                        <li><a href="{{ path("app_flash")}}">Flash</a></li>
                        <li><a href="{{ path("app_flash")}}#wannaDo">WannaDo</a></li>
                        <li><a href="{{ path("app_faq")}}">FAQ</a></li>
                        <li><a href="{{ path("app_contact")}}">{{ "base.contact" | trans }}</a></li>
                        <li><a href="{{ path("app_simulation")}}">{{ "base.simulation" | trans }}</a></li>
                        <li></li>
                        {% if app.user is defined and app.user is not null %}
                            <li class="userNav"><a href="{{ path("app_profile")}}">{{ "base.profil" | trans }}</a> | <a href="{{ path("app_logout")}}">{{ "base.deconnexion" | trans }}</a></li>
                        {% else %}
                            <li class="userNav"><a href="{{ path("app_register")}}">{{ "base.inscription" | trans }}</a> | <a href="{{ path("app_login")}}">{{ "base.connexion" | trans }}</a></li>
                        {% endif %}
                    </ul>
                </div> 
            </div>
            <nav class="nav {% if logoNom == 0 %} navPading {% endif %}">
                <div class="burgerLogo">
                    <div class="burger" tabindex="1">
                        <div class="rec1"></div>
                        <div class="rec2"></div>
                        <div class="rec1"></div>
                    </div>
                    {% if logoNom == 1 %}
                        <div class="logoNom">
                            <a href="{{ path("app_accueil") }}" tabindex="2" aria-label="Aller à la page d’accueil"><img class="logo" src="{{ asset("img/logo-HBI.webp")}}" loading="lazy" alt="Logo de l'entreprise Human Be Ink"></a>
                            <h1 class="titre goldPolice titreV2">Human Be Ink</h1>
                        </div>
                    {% endif %}
                </div>
                
                <div class="langue" tabindex="3">
                    {% if app.request.locale == "es" %}
                        <img class="drapeau" src="{{ asset("img/sp-flag.webp")}}" alt="Drapeau Espagnol">
                    {% elseif app.request.locale == "en" %}
                        <img class="drapeau" src="{{ asset("img/en-flag.webp") }}" alt="Drapeau Anglais">
                    {% elseif app.request.locale == "de" %}
                        <img class="drapeau" src="{{ asset("img/de-flag.webp")}}" alt="Drapeau Allemand">
                    {% else %}
                        <img class="drapeau" src="{{ asset("img/fr-flag2.webp")}}" alt="Drapeau Français">
                    {% endif %}
                </div>
            </nav>
            <div class="backToTop zeroopacity hidden">
                <a href="#top"><div class="scroll-down scrollTop"></div></a>
            </div>
        </header>
        
        <div class="alertsuccess">
            {% for message in app.flashes("success") %}
                {{ message }}
            {% endfor %}
        </div>
        <div class="alerterror">
            {% for message in app.flashes("error") %}
                {{ message }}
            {% endfor %}
        </div>

        <main>
            {% block body %}{% endblock %}
        </main>
        {% if footer == 1 %}
            <footer>
                {% block footer %}{% endblock %}
            </footer>
        {% endif %}


        <script src="{{ asset('js/script.js') }}"></script>
        {% block javascripts %}

        {% endblock %}
        
    </body>
</html>
