<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lunasima:wght@400;700&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Tagesschrift&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="selectLangue">
                <div class="selectLangue2">
                    <div class="croixCloseLangue">
                        <div class="rec1"></div>
                        <div class="rec2"></div>
                    </div>
                    <a href="#">
                        <img class="drapeauSelect" src="{{ asset("img/fr-flag2.webp")}}" alt="Drapeau Français">
                        <p>Français</p>
                    </a>
                    <a href="#">
                        <img class="drapeauSelect" src="{{ asset("img/en-flag.webp")}}" alt="Drapeau Anglais">
                        <p>English</p>
                    </a>
                    <a href="#">
                        <img class="drapeauSelect" src="{{ asset("img/sp-flag.webp")}}" alt="Drapeau Espagnol">
                        <p>Español</p>
                    </a>
                    <a href="#">
                        <img class="drapeauSelect de" src="{{ asset("img/de-flag.webp")}}" alt="Drapeau Allemand">
                        <p>Deutsch</p>
                    </a>
                </div>
            </div>
            <div class="menu-burger">
                <div class="menu-burger2">
                    <ul>
                        <li>
                            <div class="croixCloseBurger">
                                <div class="rec1"></div>
                                <div class="rec2"></div>
                            </div>
                        </li>
                        <li><a href="{{ path("app_accueil")}}">Accueil</a></li>
                        <li><a href="{{ path("app_flash")}}">Flash</a></li>
                        <li><a href="#">WannaDo</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Contact</a></li>
                        <li></li>
                        {% if app.user %}
                            <li class="userNav"><a href="#">Profil</a> | <a href="{{ path("app_logout")}}">Déconnexion</a></li>
                        {% else %}
                            <li class="userNav"><a href="{{ path("app_register")}}">Inscription</a> | <a href="{{ path("app_login")}}">Connexion</a></li>
                        {% endif %}
                    </ul>
                </div> 
            </div>
            <nav class="nav">
                <div class="burger">
                    <div class="rec1"></div>
                    <div class="rec2"></div>
                    <div class="rec1"></div>
                </div>
                
                
                <div class="langue">
                    <img class="drapeau" src="{{ asset("img/fr-flag2.webp")}}" alt="Drapeau français">
                </div>
            </nav> 
        </header>
        
        <div class="alertsuccess">
            {% for message in app.flashes("success") %}
                {{ message }}
            {% endfor %}
        </div>
        {% for message in app.flashes("error") %}
            <div class="alerterror">
                {{ message }}
            </div>
        {% endfor %}

        <main>
            {% block body %}{% endblock %}
        </main>


        {% block javascripts %}

        <script src="{{ asset('js/script.js') }}"></script>
        
        {% endblock %}
    </body>
</html>
