<dialog class="popupAddFlash popupFilters hidden">
    <div class="croixPopupFlash croixPopupFilter">
        <div class="rec1"></div>
        <div class="rec2"></div>
    </div>
    <div class="categoryFilters">
        {% for category in categories %}
            <div class="btnFilter btn" index="0">
                <p id="btnFilter" class="goldPolice" data-id="{{ category.id }}">{{ category }}</p>
            </div>
        {% endfor %}
    </div>
    <div class="btn submitFilterBtn">
        <p class="goldPolice">Filtrer</p>
    </div>
</dialog>



{% if app.user is not null and "ROLE_ADMIN" in app.user.roles %}
    <dialog class="popupAddFlash hidden">
        <div class="croixPopupFlash">
            <div class="rec1"></div>
            <div class="rec2"></div>
        </div>
        <div class="flashForm">
            {{ form_start(flash_form) }}
            <div class="flashFormSection">
                {{ form_row(flash_form.name) }}
                {{ form_row(flash_form.color) }}
            </div>
            <div class="flashFormSection">
                {{ form_row(flash_form.size) }}
                {{ form_row(flash_form.category) }}
            </div>
            <div class="flashFormSection">
                {{ form_row(flash_form.image) }}
            </div>
            <div class="divBtnAddFlashForm">
                <button type="submit" class="btn"><p class="goldPolice">Ajouter</p></button>
            </div>
            {{ form_end(flash_form) }}
        </div>
    </dialog>

{% endif %}


<dialog class="popupAddFlash popupDetailFlash hidden">
    {% set test = 'bienleboss' %}
    <div class="croixPopupFlash croixFlash2">
        <div class="rec1"></div>
        <div class="rec2"></div>
    </div>
    <div class="divDetImage">
        <img class="detImage" src="" alt="">
    </div>
    <div class="buttons">
    {% if app.user is not null %}
        <a href="#" class="btn">
            <p class="goldPolice">Ajouter aux favoris</p>
        </a>
    {% endif %}
        <a id="flashButtonContact" href="" class="btn">
            <p class="goldPolice">Prendre contact</p>
        </a>
    </div>
    {% if app.user is not null and "ROLE_ADMIN" in app.user.roles %}
        <div class="buttons">
            <a id="deleteFlashBtn" href="" class="btn">
                <p class="goldPolice">Supprimer le flash</p>
            </a>
        </div>
    {% endif %}
    
</dialog>
