{% extends 'base.html.twig' %}

{% block title %}Flash | WannaDo {% endblock %}

{% block body %}

<div class="dialogContainerAddFlash">
    {% include "flash/_flashDialogAddFlash.html.twig" %}
</div>
<div class="dialogContainerDetailFlash">
    {% include "flash/_flashDialogDetailFlash.html.twig" with { likedFlashs: likedFlashs } %}
</div>
<div class="dialogContainerFilter">
    {% include "flash/_flashDialogFilter.html.twig" %}
</div>



    <div class="homePageTotal">
        <div class="fondHomePage">
        </div>
        <div class="fondHomeCalque fondNoise">
        </div>
        <div class="homePage">
            <a  href="{{ path("app_accueil") }}"><img class="logo" src="{{ asset("img/logo-HBI.webp")}}" loading="lazy" alt="Logo de l'entreprise Human Be Ink"></a>
            <h1 class="titre goldPolice">Human Be Ink</h1>
            <h2 class="sousTitre goldPolice">Flash | WannaDo</h2>
            <div class="btnHomePage">
                <a href="#"><button class="btn"><p class="goldPolice">{{ "home.btn1" | trans }}</p></button></a>
                <a href="#"><button class="btn"><p class="goldPolice">{{ "home.btn2" | trans }}</p></button></a>
            </div>
        </div>
        <div class="scroll-down"></div>
    </div>
    <div class="progress-container">
        <div id="progress-bar"></div>
    </div>

    <div class="flashDef">
        <h2 class="goldPolice">{{ "flash.titre1" | trans }}</h2>
        <p class="defFlash">{{ "flash.description_1" | trans }}</p>
    </div>



    <div class="flashContainerTotal">

        <h2 class="goldPolice titreFlash">{{ "flash.titre2" | trans }}</h2>

        {% if app.user is not null and "ROLE_ADMIN" in app.user.roles %}
            <button class="btn btnAddFlash">
                <p class="goldPolice">Ajouter Flash</p>
            </button>
        {% endif %}


        <div class="btn btnShowFilters">
            <p class="goldPolice">{{ "flash.btnFiltre" | trans }}</p>
            <div class="filterIcon">
                <div class="filterBarTop">
                    <div class="rectangle rectangleFilter1"></div>
                    <div class="carre"></div>
                </div>
                <div class="filterBarTop">
                    <div class="rectangle rectangleFilter1"></div>
                    <div class="carre carre2"></div>
                </div>
                <div class="filterBarTop">
                    <div class="rectangle rectangleFilter1"></div>
                    <div class="carre"></div>
                </div>
            </div>
        </div> 


        <div id="flash-container">
            {% include "flash/_flashContainer.html.twig" with { flashs: flashs, maxPages: maxPages } %}
        </div>
    </div>
    


    {% include "_footer.html.twig" %}
{% endblock %}
