{% extends 'base.html.twig' %}

{% block title %}Flash | WannaDo {% endblock %}

{% block body %}

<div class="dialogContainerAddFlash">
    {% include "flash/_flashDialogAddFlash.html.twig" %}
</div>
<div class="dialogContainerDetailFlash">
    {% include "flash/_flashDialogDetailFlash.html.twig" with { likedFlashs: likedFlashs } %}
</div>
<div class="dialogContainerFilter">
    {% include "flash/_flashDialogFilter.html.twig" %}
</div>

    


    <div class="homePageTotal">
        <div class="homePage2">
            <div class="btnHomePageBlur">
                <a href="#"><button class="btnHome btn"><p class="goldPolice">{{ "home.btn1" | trans }}</p></button></a>
                <h2 class="sousTitre goldPolice">Flash | WannaDo</h2>
                <a href="{{ path("app_contact")}}"><button class="btnHome btn"><p class="goldPolice">{{ "home.btn2" | trans }}</p></button></a>
            </div>
        </div>
        <a href="#defFlash"><div class="scroll-down"></div></a>
    </div>
    <div class="progress-container">
        <div id="progress-bar"></div>
    </div>

    <article id="defFlash" class="flashDef">
        <div class="paragrapheFlash">
            <h2 class="goldPolice">{{ "flash.titre1" | trans }}</h2>
            <p class="defFlash">{{ "flash.description_1" | trans }}</p>
        </div>
        <div class="illustrationFlash">
            <img src="{{ asset("../img/flash8.webp")}}" alt="Image d'un tatouage">
        </div>
    </article>



    <div class="flashContainerTotal">

        <h2 class="goldPolice titreFlash">{{ "flash.titre2" | trans }}</h2>

        {% if app.user is not null and "ROLE_ADMIN" in app.user.roles %}
            <button class="btn btnAddFlash">
                <p class="goldPolice">Ajouter Flash</p>
            </button>
        {% endif %}


        <div class="btnFiltresContainer">
            <div class="btn btnShowFilters">
                <p class="goldPolice">{{ "flash.btnFiltre" | trans }}</p>
                <div class="filterIcon">
                    <div class="filterBarTop">
                        <div class="rectangle rectangleFilter1"></div>
                        <div class="carre"></div>
                    </div>
                    <div class="filterBarTop">
                        <div class="rectangle rectangleFilter1"></div>
                        <div class="carre carre2"></div>
                    </div>
                    <div class="filterBarTop">
                        <div class="rectangle rectangleFilter1"></div>
                        <div class="carre"></div>
                    </div>
                </div>
            </div> 
        </div>

        <div id="flash-container">
            {% include "flash/_flashContainer.html.twig" with { flashs: flashs, maxPages: maxPages } %}
        </div>
    </div>

    
    
{% endblock %}
{% block footer %}
    {% include "_footer.html.twig" %}
{% endblock %}



